@charset "UTF-8";

*
{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header
{
    height: 80px;
    background-color: antiquewhite;
    position: relative;
    padding: 20px;
    line-height: 80px;
    font-size: 2em;
    border-bottom: 1px solid black;
}

header h3
{
    position: relative;
    text-align: center;
}

body
{
    box-sizing: border-box;
    overflow-x: hidden;
}

main
{
    display: block;
    height: 50vh;
    width: 100vw;
    position: relative;
}

.wrapper
{
    /* centraliza o objeto */
    width: 70vw; 
    margin-left: auto;
    margin-right: auto;
}

.wrapper p
{
    text-align: justify;
}

.foto
{
    width: 128px;
    display: block;
    /* Alinha à esquerda */
    float: left;
    margin: 10px;
    border-radius: 50%;

}

.container
{
    display: block;
    margin: 2px;
    box-sizing: border-box;
    overflow: hidden;
}

.receita
{
    padding: 10px;
    margin-top: 10em;
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.192);
}


footer
{
    border-top: 1px solid black;
    background-color: antiquewhite;
    line-height: 150px;
}


.img-logo
{
    width: 64px;
    display: block;
    /* Alinha à esquerda */
    float: left;
    margin: 30px;
    border-radius: 50%;
}

.informacoes-site
{
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px 10px;
}
