<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <a routerLink="/categoria-add" class="btn btn-success">&plus; Adicionar</a>
      <hr class="mb-4">
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <ul class="list-group col-8">
      <li *ngFor="let categoria of listaCategorias  | async" class="list-group-item d-flex justify-content-between">
        <span class="badge badge-dark"> {{ categoria.idCategoria }} </span>
        <span>{{ categoria.descricaoCategoria }}</span>
        <div class="custom-control custom-switch">
          <input type="checkbox" checked="{{ categoria.flAtivo }}" (change)="toggleAtivo(categoria.idCategoria)" class="custom-control-input" id="flAtivo_{{categoria.idCategoria}}">
          <label for="flAtivo_{{categoria.idCategoria}}" class="custom-control-label">Ativo</label>
        </div>
        <span class="text-danger">
          <button (click)="delete(categoria.idCategoria)" class="btn btn-danger font-weight-bolder"> &times; </button>
        </span>
      </li>
    </ul>
  </div>
</div>
