#content-footer
{
  border-top: 2px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: antiquewhite;
}

#copy
{
  padding-top: .5rem;
  padding-bottom: 3rem;
  max-height: 30px;
  background-color: antiquewhite;
}

#copy h6
{
  font-style: italic;
}


